<div class="topic-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% if logged_in? %>
          <h1 class="text-center">App Picture</h1>
          <%= form_for @topic do |f| %>
            <div class="form-group">
              <%= f.label :image %>
              <%= f.file_field :image %>
            </div>
            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_area :description, class: "form-control" %>
            </div>
            <%= f.submit "投稿", class: "btn btn-black btn-block" %>
          <% end %>  
        <% else %>
          <%= link_to root_path do %>
            <h1 class="text-center">ログインはこちらです</h1>
          <% end %>
        <% end %>    
      </div>
    </div>
  </div>
</div>